<DocsViewer as |viewer|>
  <viewer.nav as |nav|>
    {{nav.section "Introduction"}}
    {{nav.item "Introduction" "docs.index"}}
    {{nav.item "Usage" "docs.usage"}}

    {{nav.section "Demo"}}
    {{nav.item "Demo" "docs.demo"}}

    {{nav.section "Styles"}}
    {{nav.item "Using Style Variables" "docs.style-variables"}}

    {{nav.section "FAQ"}}
    {{nav.item "FAQ" "docs.faq"}}
  </viewer.nav>

  <viewer.main>
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  </viewer.main>
</DocsViewer>